body {color:# ; font-family: Arial, Helvetica; font-size: 10pt}
a {color:#526949; text-decoration: none}
a:link {color:#526949; text-decoration: underline}
a:visited {color:#526949; text-decoration: underline}
a:hover {color:#526949; text-decoration: hover}
a:active {color:#526949; text-decoration: hover}